<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Project</title>
</head>
<body>
    <h1>Add Project</h1>
    <form action="/home" method="POST">
        <label for="roll">Roll Number</label>
        <input type="text" id='roll' name='roll' placeholder="Roll Number">
        <label for="mentor">Mentor Name</label>
        <input type="text" id='mentor' name='mentor' placeholder="Name">
        <label for="title">Project Title</label>
        <input type="text" id='title' name='title' placeholder="Project Title">
        <label for="deadline">Deadline</label>
        <input type="text" id='deadline' name='deadline' placeholder="dd-mm-yyyy">
    <button>Submit</button>
</form>
</body>
</html>